Sphinx==3.4.3
sphinx-tabs==1.3.0
sphinx-rtd-theme==0.5.2
git+https://github.com/VanDavv/rtd-redirects.git
git+https://github.com/luxonis/pybind11_mkdoc.git
breathe==4.26.0
Sphinx-Substitution-Extensions==2020.9.30.0
sphinx-autopackagesummary==1.3
autodocsumm==0.2.2
jinja2==3.0.3
cmake 
opencv-python 
numpy 
when-changed
requests
Mypy